# 자료구조란

-   **여러 개의 값들을 모아서 관리**하는 데이터 타입.
    -   한 개의 변수는 한 개의 값 밖에는 가지지 못한다. 그러나 하나의 변수로 여러 개의 값 관리해야 할 경우가 있다.
    -   하나의 값이 여러개의 값들로 구성된 경우
        -   한명의 고객 정보의 경우 이름, 나이, 주소, 전화번호 등 여러개의 값이 모여서 하나의 값이 된다.
        -   한 반의 학생들의 이름들은 여러개의 이름들로 구성된다.
-   파이썬은 데이터를 모으는 방식에 따라 다음과 같이 4개의 타입을 제공한다.
    -   **List:** 순서가 있으며 중복된 값들을 모으는 것을 허용하고 구성하는 값들(원소)을 변경할 수 있다.
    -   **Tuple:** 순서가 있으며 중복된 값들을 모으는 것을 허용하는데 구성하는 값들을 변경할 수 없다.
    -   **Dictionary:** key-value 형태로 값들을 저장해 관리한다.
    -   **Set:** 중복을 허용하지 않고 값들의 순서가 없다.
-   **원소, 성분, 요소, element**
    -   자료구조의 값들을 구성하는 개별 값들을 말한다.
    -   len(자료구조) 함수
        -   자료구조 내의 원소의 개수를 반환한다.
ㅁ

# List (리스트)

-   값들을 순서대로 모아서 관리하는 자료구조. 원소(element)들을 순번을 이용해 식별한다.
    -   각각의 원소가 어떤 값인지를 index(순번)을 가지고 식별하기 때문에 **순서가 있고 그 순서가 매우 중요하다.** 즉 같은 값에 대해 순서가 바뀌면 안된다.
-   각각의 원소들은 index를 이용해 식별한다.
    -   index는 문자열과 마찮가지로 양수 index와 음수 index 두개가 각 값에 생긴다.
    -   양수 index는 앞에서부터 음수 index는 뒤에서 부터 값을 식별할 때 사용하는 것이 편리하다.
    -   **index를 가지고 각 원소값의 의미를 식별할 수 있으면 List나 Tuple을 사용한다.**
-   중복된 값들을 저장할 수 있다.
-   각 원소들의 데이터 타입은 달라도 상관없다.
    -   보통은 같은 타입의 데이터를 모은다.
-   리스트를 구성하는 **원소들을 변경할 수 있다.** (추가, 삭제, 변경이 가능)
    -   원소 변경 여부가 List와 Tuple의 차이이다.

## List 생성 구문

```python
[값, 값, 값, ..]
```

In [2]:
l1=[10, 20, 30, 40, 50]
print(l1)
l1

[10, 20, 30, 40, 50]

[10, 20, 30, 40, 50]

In [5]:
type(l1)
print(type(l1))
type(l1)==list

<class 'list'>

True

In [103]:
person1=["이순신", 30, "서울", 180.56, 79.21, "O형", "010-1111-2234", "true"]
person1

['이순신', 30, '서울', 180.56, 79.21, 'O형', '010-1111-2234', 'true']

In [8]:
l2=[100, 200, [300, 400], [500, [600, 700]]]
# 리스트(자료구조)안에 원소로 리스트(자료구조)

## Indexing과 Slicing을 이용한 원소(element) 조회 및 변경

### Indexing

-   하나의 원소를 조회하거나 변경할 때 사용
-   리스트\[index\]
    -   index의 원소를 조회
-   리스트\[index\] = 값
    -   index의 원소를 변경

### Slicing

-   범위로 조회하거나 그 범위의 값들을 변경한다.
-   기본구문: **리스트\[ 시작 index : 종료 index : 간격\]**
    -   시작 index ~ (종료 index – 1)
    -   간격을 지정하면 간격만큼 index를 증/감한다. (생략 시 1이 기본 간격)
-   **0번 index 부터 조회 할 경우 시작 index는 생략가능**
    -   리스트 \[ : 5\] => 0 ~ 4 까지 조회
-   **마지막 index까지 (끝까지) 조회 할 경우 종료 index는 생략 가능**
    -   리스트\[2 : \] => 2번 index 에서 끝까지
-   **명시적으로 간격을 줄 경우**
    -   리스트\[ : : 3 \] => 0, 3, 6, 9.. index의 값 조회
    -   리스트\[1 : 9 : 2\] => 1, 3, 5, 7 index의 값 조회
-   **시작 index > 종료 index, 간격을 음수로 하면 역으로 반환한다.(Reverse)**
    -   리스트\[5: 1: -1\] => 5, 4, 3, 2 index의 값 조회
    -   리스트\[: : -1\] => 마지막 index ~ 0번 index 까지 의미. Reverse 한다.

#### slicing을 이용한 값 변경

-   slicing 을 이용할 경우 slicing된 원소 개수와 동일한 개수의 값들을 대입한다.
    -   `리스트[1:5] = 10,20,30,40` : index 1, 2, 3, 4의 값을 각각 10, 20, 30, 40 으로 변경

In [18]:
l=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
#indexing
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
#변경
print(l)
l[0]=10_000
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10000, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
#slicing
print(l)
l[1:8]#간격:1

[10000, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[1, 2, 3, 4, 5, 6, 7]

In [22]:
l[1:8:2]

[1, 3, 5, 7]

In [23]:
l[:8]#0~8-1

[10000, 1, 2, 3, 4, 5, 6, 7]

In [24]:
l[:3]#3~끝까지

[10000, 1, 2]

In [25]:
ㅣ[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [26]:
#slicing변경
l[1:4]=500, 600, 700 #개수가 맞아야 한다.
l

[10000, 500, 600, 700, 4, 5, 6, 7, 8, 9]

## List 연산자

-   **리스트 + 리스트**
    -   두 리스트의 원소들을 합친 리스트를 반환한다.
-   **리스트 \* 정수**
    -   같은 리스트의 원소들을 정수번 합친 리스트를 반환한다.
-   **in, not in 연산자**
    -   값 in 리스트
        -   리스트의 원소로 값이 **있으면** True, 없으면 False 반환
    -   값 not in 리스트
        -   리스트의 원소로 값이 **없으면** True, 있으면 False 반환
-   **len(리스트)**
    -   리스트 내의 원소수를 반환.

In [27]:
a=[1, 2, 3]
b=[100, 200, 300, 400]
c=a+b
print(c)
b

[1, 2, 3, 100, 200, 300, 400]

[100, 200, 300, 400]

In [28]:
d=a*4
d

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [29]:
#원소 in 리스트
2 in c
40404 in c

False

In [30]:
2 not in c
40404 not in c

True

## 중첩 리스트 (Nested List)

-   List가 원소로 List를 가지는 것을 말한다.
    -   List를 포함한 모든 자료구조 타입들도 다 값이므로 다른 자료구조의 원소로 들어갈 수 있다.

In [34]:
l= [
    [1, 2, 3],
    [10, 20, 30],
    [100, 200, 300]
]

In [35]:
l[1][0]

10

In [36]:
l[1][0]

10

In [37]:
l[-1][0]

100

## List 주요 메소드

| 메소드                       | 설명                                                                                 |
| :--------------------------- | ------------------------------------------------------------------------------------ |
| append(value)                | value를 추가한다.                                                                    |
| extend(List)                 | List의 원소들을 추가한다.                                                            |
| sort(\[reverse=False\])      | 원소들을 오름차순 정렬한다. reverse=True로 하면 내림차순정렬 한다.                   |
| insert(index, 삽입할값)      | 지정한 index에 '삽입할값'을 삽입한다.                                                |
| remove(삭제할값)             | '삭제할값' 값과 같은 원소를 삭제한다.                                                |
| index(찾을값\[, 시작index\]) | '찾을값'의 index를 반환한다.                                                         |
| pop(\[index\])               | index의 값을 반환하면서 삭제한다. index 생략하면 가장 마지막 값을 반환하며 삭제한다. |
| count(값)                    | '값'이 리스트의 원소로 몇개 있는지 반환한다.                                         |
| clear()                      | 리스트 안의 모든 원소들을 삭제한다.                                                  |

In [38]:
l=[10, 20, 30]
l.append(100) #한개씩 추가.
l

[10, 20, 30, 100]

In [39]:
l.extend([1, 2, 3, 4]) #여러개 값 추가
l

[10, 20, 30, 100, 1, 2, 3, 4]

In [41]:
#뒤가 아닌 중간 삽입
l.insert(2,5000)

In [42]:
l

[10, 20, 5000, 30, 100, 1, 2, 3, 4]

In [ ]:
#정렬- sorted() 함수, sort() list의 메소드
#sorted() 함수 - 모든 자료구조를 받아서 정렬 한 결과를 list로 반환. (원본을 정렬하지 않는다.)
#sort()메소드 -  list용. List 자체를 정렬.

In [43]:
sorted(l) #오름차순 (보여주고 끝)

[1, 2, 3, 4, 10, 20, 30, 100, 5000]

In [44]:
result =sorted(l)
result

[1, 2, 3, 4, 10, 20, 30, 100, 5000]

In [45]:
sorted(l, reverse=True) #내림차순

[5000, 100, 30, 20, 10, 4, 3, 2, 1]

In [46]:
l.sort() #오름차순

In [47]:
l

[1, 2, 3, 4, 10, 20, 30, 100, 5000]

In [48]:
l.sort(reverse=True)

In [49]:
l

[5000, 100, 30, 20, 10, 4, 3, 2, 1]

In [50]:
#삭제
##값으로 삭제
l.remove(100)

In [51]:
l

[5000, 30, 20, 10, 4, 3, 2, 1]

In [52]:
#index로 삭제 - 삭제한 값을 반환해줌,
l.pop(0)

5000

In [53]:
l

[30, 20, 10, 4, 3, 2, 1]

In [54]:
l.pop() #마지막 index값을 삭제

1

In [55]:
l

[30, 20, 10, 4, 3, 2]

In [56]:
l.clear()#모두 삭제
l

[]

In [57]:
bool(l) #원소가 없음.

False

In [58]:
bool(l1) #하나라도 값이 있음.

True

# Tuple (튜플)

-   List와 같이 순서대로 원소들을 관리한다. 단 저장된 원소를 변경할 수 없다.
-   Tuple 은 각 위치(Index) 마다 정해진 의미가 있고 그 값이 한번 설정되면 바뀌지 않는 경우에 사용한다.
    -   Tuple은 값의 변경되지 않으므로 안전하다.

## Tuple 생성

-   `(value, value, value, ...)`
-   소괄호를 생략할 수 있다.
-   원소가 하나인 Tuple 표현식
    -   `(value,)` 또는 `value,`
        -   값 뒤에 `,` 를 붙여준다. `,`를 붙이지 않으면 ( )가 연산자 우선순위 괄호가 된다.

In [59]:
t1=(1, 2, 3, 4, 5)
t1

(1, 2, 3, 4, 5)

In [60]:
t2=10, 20, 30, 40, 50 #괄호 생략 가능
t2

(10, 20, 30, 40, 50)

In [61]:
t3=(100) #원소가 하나
t3

100

In [62]:
type(t3) #연산자 우선순위와 관련하여 소괄호를 사용하므로 위의 경우는 연산자 우선순위로 인식.

int

In [63]:
t3=(100,)
type(t3) #원소가 하나일 경우인데 tuple로 묶어주고 싶을때 쉼표 사용(정수 표시할때 실수로 ,표기하여 tuple되지 않게 주의!)

tuple

In [64]:
t4=200,
type(t4)

tuple

In [68]:
t5=("A", 100, 30.2, True)
t5

('A', 100, 30.2, True)

## Indexing과 Slicing을 이용한 원소(element) 조회

-   리스트와 동일하다.
-   단 튜플은 조회만 가능하고 원소를 변경할 수 없다.

In [65]:
t1[0]

1

In [66]:
t1[0]=1000

TypeError: 'tuple' object does not support item assignment

In [67]:
t1[1:4]

(2, 3, 4)

## Tuple 연산자

-   **tuple + tuple**
    -   두 tuple의 원소들을 합친 tuple을 반환한다.
-   **tuple \* 정수**
    -   같은 tuple의 원소들을 정수번 합친 tuple를 반환한다.
-   **in, not in 연산자**
    -   값 in tuple
        -   tuple의 원소로 값이 **있으면** True, 없으면 False 반환
    -   값 not in tuple
        -   tuple의 원소로 값이 **없으면** True, 있으면 False 반환
-   **len(tuple)**
    -   tuple의 원소 개수 반환

In [69]:
len(t1)

5

In [70]:
t1+t2 #기존 tuple원소 조회 후 새로운 tuple 생성(기존 tuple은 바뀌지 않음)

(1, 2, 3, 4, 5, 10, 20, 30, 40, 50)

In [71]:
t6=t1+t2
t6

(1, 2, 3, 4, 5, 10, 20, 30, 40, 50)

In [72]:
t1*3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [74]:
1 in t1

True

In [75]:
1 not in t1

False

## Tuple의 주요 메소드

| 메소드                        | 설명                                |
| :---------------------------- | ----------------------------------- |
| index(찾을값 \[, 시작index\]) | '찾을값'이 몇번 index인지 반환한다. |
| count(값)                     | 원소로 '값'이 몇개 있는지 반환한다. |

In [76]:
t10=(100, 2, 500, 100, 20, 4, 2)
t10.index(100) #다 찾아 주지는 않고 순서대로 찾다가 찾으면 반환 따라서, 어러개일 경우 앞쪽에 있는것만 반환,

0

In [77]:
t10.index(100, 1) #1번부터 찾음

3

In [80]:
t10[::-1].index(100) #역순으로

3

In [79]:
t10.count(100) #원소중에 100이 몇개 있는지

2

In [81]:
#정렬 -> sorted() 함수 --> sorted()는 반환타입이 list
sorted(t10) #값을 바꾸지 못하므로 값들을 정렬한 새로운 리스트를 받는것.

[2, 2, 4, 20, 100, 100, 500]

In [131]:
d1.clear()
d1

{}

In [132]:
#키값들만 모아서 조회
keys=d2.keys()
print(keys)

dict_keys(['이름', '나이', '결혼여부', '취미', '주소', '전화번호'])

In [134]:
#값들만 모아서 조회
values=d2.values()
values  #list와 비슷한 역할

dict_values(['홍길동', 25, False, ['영화감상', '독서', '음악감상'], {'시': '서울시', '구': '금천구', '동': '독산동'}, '010-2345-3422'])

In [135]:
#key-value 모아서 반환. item: (key,value)
items = d2.items()
items

dict_items([('이름', '홍길동'), ('나이', 25), ('결혼여부', False), ('취미', ['영화감상', '독서', '음악감상']), ('주소', {'시': '서울시', '구': '금천구', '동': '독산동'}), ('전화번호', '010-2345-3422')])

# Dictionary

-   값을 키(key)-값(value) 쌍으로 묶어서 저장하는 자료구조이다.
    -   리스트나 튜플의 index의 역할을 하는 key를 직접 지정한다.
    -   서로 의미가 다른 값들을 하나로 묶을 때 그 값의 의미를 key로 가질 수 있는 dictionary를 사용한다.
        -   cf) 값의 의미가 같을 경우 List나 Tuple을 사용한다.
    -   key-value 쌍으로 묶은 데이터 한개를 **item 또는 entry**라고 한다.
    -   key는 중복을 허용하지 않고 value는 중복을 허용한다.

## Dictionary 생성

-   구문
    1. `{ 키 : 값, 키 : 값, 키 : 값 }`
    2. dict(key=value, key=value) 함수 이용
    -   키(key)는 불변(Immutable)의 값들만 사용 가능하다. (숫자, 문자열, 튜플) 일반적으로 문자열을 사용한다.
    -   dict() 함수를 사용할 경우 key는 변수로 정의한다

In [82]:
d1={"이름":"홍길동", "나이":20, "결혼여부":False}

In [88]:
d2={
    "이름":"홍길동", 
    "나이":20, 
    "결혼여부":False,
    "취미":["영화감상", "독서", "음악감상"],
    "주소":{"시":"서울시", "구":"금천구"}
}

In [89]:
d2

{'이름': '홍길동',
 '나이': 20,
 '결혼여부': False,
 '취미': ['영화감상', '독서', '음악감상'],
 '주소': {'시': '서울시', '구': '금천구'}}

In [90]:
d3=dict(이름="홍길동", 나이=30, 주소="서울시 금천구", 취미=["게임", "야구"])
d3

{'이름': '홍길동', '나이': 30, '주소': '서울시 금천구', '취미': ['게임', '야구']}

## Dictionary 원소 조회 및 변경

-   조회: index에 key값을 식별자로 지정한다.
    -   dictionary\[ key \]
    -   없는 키로 조회 시 KeyError 발생
-   변경
    -   dictionary\[ key \] = 값
    -   있는 key값에 값을 대입하면 변경이고 없는 key 일 경우는 새로운 item을 추가하는 것이다.

In [91]:
d2

{'이름': '홍길동',
 '나이': 20,
 '결혼여부': False,
 '취미': ['영화감상', '독서', '음악감상'],
 '주소': {'시': '서울시', '구': '금천구'}}

In [92]:
d2["이름"]

'홍길동'

In [93]:
d3["나이"]

30

In [94]:
d2["취미"]

['영화감상', '독서', '음악감상']

In [95]:
d2["취미"][1]

'독서'

In [96]:
d2['주소']

{'시': '서울시', '구': '금천구'}

In [97]:
d2['주소']['구']

'금천구'

In [98]:
d2['나이']=25
d2

{'이름': '홍길동',
 '나이': 25,
 '결혼여부': False,
 '취미': ['영화감상', '독서', '음악감상'],
 '주소': {'시': '서울시', '구': '금천구'}}

In [99]:
d2['전화번호']="010-2345-3422"
d2

{'이름': '홍길동',
 '나이': 25,
 '결혼여부': False,
 '취미': ['영화감상', '독서', '음악감상'],
 '주소': {'시': '서울시', '구': '금천구'},
 '전화번호': '010-2345-3422'}

In [101]:
d2['주소']['동']="독산동"
d2

{'이름': '홍길동',
 '나이': 25,
 '결혼여부': False,
 '취미': ['영화감상', '독서', '음악감상'],
 '주소': {'시': '서울시', '구': '금천구', '동': '독산동'},
 '전화번호': '010-2345-3422'}

## Dictionary 연산자

-   **in, not in 연산자**
    -   값 in dictionary
        -   dictionary의 **Key**로 값이 **있으면** True, 없으면 False 반환
    -   값 not in dictionary
        -   dictionary의 **Key**로 값이 **없으면** True, 있으면 False 반환
-   **len(dictionary)**
    -   dictionary의 **Item의 개수** 반환

In [104]:
len(d2)

6

In [105]:
'이름 'in d2 #기본적으로 Dictionary는 value가 아닌 key값을 물어봄.

False

In [106]:
'홍길동' in d2

False

## Dictionary 주요 메소드

| 메소드               | 설명                                                                               |
| :------------------- | ---------------------------------------------------------------------------------- |
| get(key\[, 기본값\]) | key의 item의 값을 반환한다. 단 key가 없을 경우 None또는 기본값을 반환한다.         |
| pop(key)             | key의 item의 값을 반환하면서 dictionary에서 삭제한다. 없는 key일 경우 KeyError발생 |
| clear()              | dictionary의 모든 item들을 삭제한다.                                               |
| del dict\[key\]      | key의 item을 제거한다.                                                             |
| items()              | item의 key, value를 튜플로 묶어 모아 반환한다.                                     |
| keys()               | key값들만 모아 반환한다.                                                           |
| values()             | value값들만 모아 반환한다.                                                         |

In [107]:
d1['이름']

'홍길동'

In [108]:
d2['키']

KeyError: '키'

In [109]:
d1.get("이름")  #key로 value를 조회

'홍길동'

In [113]:
r=d1.get("키") #없는 key로 조회하면 기본값을 반환. (default 기본값 : None) 
#print(r)
r

In [114]:
r=d1.get("키")
r if r!=None else "없는 key"

'없는 key'

In [115]:
#None-bool->False
r if r else "없는 key"

'없는 key'

In [116]:
r if r is not None else "없는 키"

'없는 키'

In [118]:
r is None

True

In [119]:
r is not None

False

In [121]:
r==None #값이 없는데 ==을 사용하는게 말이 안됨. 없는것을 비교할 수 없음.

True

In [122]:
d1.get("몸무게", 0) #key가 없으면 지정한 기본값(0)을 반환

0

In [124]:
d1.get("취미", [])

[]

In [125]:
d2.get("취미")

['영화감상', '독서', '음악감상']

In [127]:
d1["주소"]="서울"  #추가
d1

{'이름': '홍길동', '나이': 20, '결혼여부': False, '주소': '서울'}

In [129]:
#삭제
del d1['주소']
d1

{'이름': '홍길동', '나이': 20, '결혼여부': False}

In [130]:
v=d1.pop("나이") #삭제만 할거면 pop만 사용. 삭제한 값을 사용하면 velue= 사용
v

20

# Set

-   Set은 중복되는 값을 허용하지 않고 순서를 신경 쓰지 않는다.
    -   원소를 식별할 수 있는 식별자가 없기 때문에 Set은 indexing과 slicing을 지원하지 않는다

## Set 생성

-   구문
    -   {값, 값, 값 }

> -   빈 Dictionary 만들기
>     -   info = {}
>     -   중괄호만 사용하면 빈 set이 아니라 빈 dictionary를 생성하는 것임.

In [137]:
s1={1, 2, 3, 4, 5, 6}
s1

{1, 2, 3, 4, 5, 6}

In [139]:
s2={1,1,1,1,1,1,1,1,2,2,2,2,2,2,3,4,2,3,4,3,4,3,4,5,5,6,6,5}
s2

{1, 2, 3, 4, 5, 6}

In [140]:
s1[0]
#TypeError: 'set' object is not subscriptable

TypeError: 'set' object is not subscriptable

In [142]:
for v in s1:
    print(v)

1
2
3
4
5
6

## Set 연산자

-   **in, not in 연산자**
    -   값 in Set
        -   Set의 원소로 값이 **있으면** True, 없으면 False 반환
    -   값 not in Set
        -   Set의 원소로 값이 **없으면** True, 있으면 False 반환
-   **len(Set)**
    -   Set의 **원소의 개수** 반환
-   **[집합연산자](#Set의-집합연산-연산자-및-메소드)**

In [143]:
5 in s1
100 in s1

False

In [146]:
5 not in s1
100 not in s1

True

In [147]:
len(s1)

6

## Set의 주요 메소드

| 메소드           | 설명                                   |
| ---------------- | -------------------------------------- |
| add(값)          | 집합에 값 추가                         |
| update(자료구조) | 자료구조내의 원소들을 모두 집합에 추가 |
| pop()            | 원소를 반환하고 Set에서 삭제한다.      |
| remove(값)       | 값을 찾아서 Set에서 삭제한다.          |

In [148]:
s1

{1, 2, 3, 4, 5, 6}

In [149]:
s1.add(100)
s1

{1, 2, 3, 4, 5, 6, 100}

In [150]:
s1.add(3) #중복된 값은 추가하지 않는다.
s1

{1, 2, 3, 4, 5, 6, 100}

In [152]:
s1.update([200, 300, 400, 400, 400, 100, 100, 100])
s1

{1, 2, 3, 4, 5, 6, 100, 200, 300, 400}

In [153]:
s1.remove(100) #100을 찾아서 삭제
s1

{1, 2, 3, 4, 5, 6, 200, 300, 400}

In [154]:
s1.remove(100) #삭제할 것이 없으면 Error
s1

KeyError: 100

In [155]:
s1.pop() #삭제한것을 반환

1

In [156]:
v=s1.pop()

In [157]:
s1

{3, 4, 5, 6, 200, 300, 400}

In [158]:
s1.clear()
s1

set()

In [159]:
type({}), type(set())

(dict, set)

In [160]:
print(1, 2, 3)
1, 2, 30

1 2 3

(1, 2, 30)

## Set의 집합연산 연산자 및 메소드

-   합집합
    -   집합A | 집합B
    -   집합A.union(집합B)
-   교집합
    -   집합A & 집합B
    -   집합A.intersection(집합B)
-   차집합
    -   집합A - 집합B
    -   집합A.difference(집합B)

In [161]:
s1={1, 2, 3, 4}
s2={3, 4, 5, 6}

In [162]:
s1|s2

{1, 2, 3, 4, 5, 6}

In [163]:
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [164]:
s1&s2

{3, 4}

In [165]:
s1.intersection(s2)

{3, 4}

In [166]:
s1-s2

{1, 2}

In [167]:
s1.difference(s2)

{1, 2}

# 자료구조를 이용한 대입

-   리스트, 튜플, 셋의 원소들을 개별 변수에 대입한다. 어느 자료구조에 적용하느냐에 따라 **리스트 대입, 튜플 대입, 셋 대입** 이라고 한다. 이중 리스트대입이나 튜플대입은 많이 사용된다.
-   변수의 개수와 리스트 원소의 개수는 동일해야 한다.

In [ ]:
a=10
b=20
c=30
d="가"

In [168]:
a, b, c, d = 10, 20, 30, "가"  #튜플대입(튜플을 이용하여 값을 대입하므로.)

In [169]:
print(a, b, c, d)

10 20 30 가

In [170]:
x, y, z = [True, False, True]  #리스트 대입
print(x,y,z)

True False True

In [171]:
l, m, n, o ={100, 200, 300, 400} #셋 대입
print(l, m, n, o)

200 100 400 300

In [172]:
l1=[10, 20, 30] #동작을 처리해서 만든 값을 변수로 나누고 싶을 때 리스트 또는 셋 대입 사용.
#그냥 대입이 목적이면 튜플대입 사용하면 됨.

In [174]:
x1, x2, x3 =l1

In [175]:
x1, x2, x3

(10, 20, 30)

# 자료구조 변환 함수

-   **list(자료구조)**
    -   대상 자료구조/Iterable을 List로 변환한다.
-   **tuple(자료구조)**
    -   대상 자료구조/Iterable을 Tuple로 변환
-   **set(자료구조)**
    -   대상 자료구조/Iterable을 Set으로 변환
    -   다른 자료구조의 원소 중 중복을 빼고 조회할 때 set()를 이용해 Set으로 변환한다.
-   Dictionary로 변환하는 함수는 없다.
    -   dict(key=value, ..) 는 딕셔너리 생성하는 함수이다.
-   변경 대상이 Dictionary 일 경우에는 key값들만 모아서 변환한다.

> -   **Iterable**
>     -   반복가능한 객체.
>     -   여러개의 값을 요청을 받을 때마다 하나씩 제공해주는 타입을 iterable 이라고 함.
>         -   Iterable이 제공하는 값을 반복문을 이용해 조회할 경우 **for in문**을 사용한다.
>     -   대표적으로 자료구조, 문자열 등이 있다.

In [176]:
l=[1, 2, 3, 4, 5, 6]
print(type(l))

<class 'list'>

In [177]:
t=tuple(l)
t #list가 바뀐게 아니라 l이 가지고 있는 값을 가지고 tuple생성

(1, 2, 3, 4, 5, 6)

In [178]:
s=set(t)
s

{1, 2, 3, 4, 5, 6}

In [179]:
l2=list(s)
l2

[1, 2, 3, 4, 5, 6]

In [181]:
l=[1, 2, 3, 2, 1, 1, 2, 6, 7, 100]
s=set(l)
s #중복된 값으 거르고 보여줌

{1, 2, 3, 6, 7, 100}

In [182]:
l_unique = list(s)
l_unique

[1, 2, 3, 100, 6, 7]

In [184]:
d = {"이름":"홍길동", "나이":20, "주소":"서울"}
list(d)

['이름', '나이', '주소']

In [185]:
set(d)

{'나이', '이름', '주소'}

In [186]:
tuple(d)

('이름', '나이', '주소')

In [187]:
for v in l :
    print (v)

1
2
3
2
1
1
2
6
7
100

In [188]:
for v in d :
    print (v)

이름
나이
주소

In [189]:
for v in t :
    print (v)

1
2
3
4
5
6

In [190]:
for v in "abcdef" :
    print (v)

a
b
c
d
e
f

In [191]:
list("abcdefg")

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [192]:
tuple("가나다라마바사")

('가', '나', '다', '라', '마', '바', '사')

In [194]:
set("안녕안녕안녕하세요.")

{'.', '녕', '세', '안', '요', '하'}

In [196]:
s = "abcdefg"
l=list(s)
l

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [197]:
# 자료구조의 문자열들을 한 문자열로 합치기
##"구분자".join(합칠대상_iterable)
"".join(l)

'abcdefg'

In [198]:
", ".join(l)

'a, b, c, d, e, f, g'

# TODO

In [1]:
# 문제 1 ~ 7
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]
# 위 리스트는 학생aa번호 1번 ~ 10번까지 10명의 시험 점수이다.

# (1)  7번의 점수를 출력하세요
print(jumsu[6])

80

In [2]:
# (2)  1번부터 5번까지의 점수를 출력하세요.
print(jumsu[:5])

[100, 90, 100, 80, 70]

In [4]:
# (3)  4, 5, 6, 7번의 점수를 출력하세요.
print(jumsu[3:7])
#print(jumsu[3], jumsu[4], jumsu[5], jumsu[6])

[80, 70, 100, 80]
80 70 100 80

In [5]:
# (4) 짝수번째 점수를 출력하세요
jumsu[1::2]

[90, 80, 100, 90, 85]

In [6]:
# (5) 홀수번째 점수를 출력하세요.
jumsu[::2]

[100, 100, 70, 80, 95]

In [217]:
# (6) 9번의 점수를 20으로 변경하고 전체 출력하세요.
jumsu[8]=20
print(jumsu)

[100, 90, 100, 80, 70, 100, 80, 90, 20, 85]

In [11]:
# (7) 중복된 점수는 제거하고 하나씩만 나오도록 출력하세요.
#u_jumsu=list(set(jumsu))
#jumsu = {100, 90, 100, 80, 70, 100, 80, 90, 95, 85}
set(jumsu)
u_jumsu=list(set(jumsu))
u_jumsu

[100, 70, 80, 85, 90, 95]

In [17]:
# 문제 8 ~ 9
fruits = ["복숭아", "수박", "딸기"]

# (8) fruits 리스트에 마지막 원소로 "사과", "귤"을 추가하세요.
fruits.extend(["사과", "귤"])
fruits

['복숭아', '수박', '딸기', '사과', '귤']

In [18]:
fruits.append('토마토')
fruits

['복숭아', '수박', '딸기', '사과', '귤', '토마토']

In [19]:
# (9) fruits 리스트에서 "복숭아"를 제거하세요.
fruits.pop(0) #pop() : 마지막 index를 삭제
#del fruits[0]
#fruits.remove("복숭아")
fruits

['수박', '딸기', '사과', '귤', '토마토']

In [38]:
# 문제 10 ~ 15
# (10)본인의 이름, 나이, email주소, 취미, 결혼유무를 사전(딕셔너리)으로 생성.
# 취미는 2개 이상의 값을 넣는다..
info = {
    "이름":"홍길동",
    "나이":30,
    "email주소":"abc@a.com",
    "취미":["독서", "게임"],
    "결혼유무":"미혼"
}
#info2 = dict(이름="홍길동", 나이=30, email주소="a@a.com", 취미=['영화감상', '음악감상']), 결혼유무="미혼")

In [39]:
# (11) 위 딕셔너리에서 이름과 email주소를 조회해서 출력하세요.
print(info['이름'], info['email주소'])
#print(info2['이름'])

홍길동 abc@a.com

In [40]:
# (12) 위 딕셔너리에서 취미중 두번째 취미를 조회해서 출력하세요.
print(info['취미'][1])

게임

In [41]:
# (13) 위 딕셔너리에 몸무게와 키 항목을 추가하세요.
info['몸무게']=80
info['키']=180.56
info      #없는 key에 대입 ; 추가

{'이름': '홍길동',
 '나이': 30,
 'email주소': 'abc@a.com',
 '취미': ['독서', '게임'],
 '결혼유무': '미혼',
 '몸무게': 80,
 '키': 180.56}

In [42]:
# (14) 위 딕셔너리에서 email 주소를 다른 값으로 변경하세요.
info['email 주소']= "my-email@playdata.io"   #있는 key에 대입: 변경
info

{'이름': '홍길동',
 '나이': 30,
 'email주소': 'abc@a.com',
 '취미': ['독서', '게임'],
 '결혼유무': '미혼',
 '몸무게': 80,
 '키': 180.56,
 'email 주소': 'my-email@playdata.io'}

In [43]:
# (15) 위 딕셔너리에서 나이를 제거하세요.
age= info.pop('나이')
print(info)
#del info['취미']

{'이름': '홍길동', 'email주소': 'abc@a.com', '취미': ['독서', '게임'], '결혼유무': '미혼', '몸무게': 80, '키': 180.56, 'email 주소': 'my-email@playdata.io'}

In [44]:
age

30